body {
    background-image: url("https://steemitimages.com/640x0/http://cis-linux2.temple.edu:8080/fa16_4350_tuf06450/peter_output.png");
    background-repeat: no-repeat;
    background-size: 1600px;
}
